---
layout: default
---

{% for post in paginator.posts %}
  {% include post.html %}
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
  <nav class="pagination">
    {%- if paginator.previous_page -%}
      <a href="{{- paginator.previous_page_path | relative_url -}}" rel="prev">{{ site.data.translate[site.lang].newer_posts | default: "&larr; Newer posts" }}</a>
    {%- endif -%}
    {%- if paginator.next_page -%}
      <a href="{{- paginator.next_page_path | relative_url -}}" rel="next">{{ site.data.translate[site.lang].older_posts | default: "Older posts &rarr;" }}</a>
    {%- endif -%}
  </nav>
{% endif %}